.property {
  margin: 16px auto;
  height: 100%;
  overflow: scroll;
  &__board {
    margin-top: 16px;
    background-color: #ffffff;
    padding: 16px 0;
    border-radius: 4ox;
    box-shadow: 0 2px 8px rgba(175, 175, 175, 0.1);
    &__tabs {
      :global {
        .ant-tabs-nav {
          width: 120px;
        }
        .ant-tabs-tabpane {
          padding-left: 0px !important;
        }
        .ant-tabs-nav-list {
          margin-top: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .property {
    width: 1168px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .property {
    width: 90%;
  }
}
